In [2]:
import pandas as pd

In [7]:
base = "./files/"
csvfile = base + "csvdemo.txt"
tsvfile = base + "tsvdemo.txt"

In [26]:
df_csv = pd.read_csv(csvfile, header=None)
df_csv

        0         1    2
0  Steven    apples  3.0
1    Adam  cherries  4.3
2   Karen    apples  5.6
3   April    grapes  0.4

In [36]:
df_csv.columns = ['person', 'fruit', 'weight']
df_csv

   person     fruit  weight
0  Steven    apples     3.0
1    Adam  cherries     4.3
2   Karen    apples     5.6
3   April    grapes     0.4

In [38]:
df_csv = pd.read_csv(csvfile, header=None, names = ['person', 'fruit', 'weight'])
df_csv

   person     fruit  weight
0  Steven    apples     3.0
1    Adam  cherries     4.3
2   Karen    apples     5.6
3   April    grapes     0.4

In [40]:
df_csv.person

0    Steven
1      Adam
2     Karen
3     April
Name: person, dtype: object

In [41]:
df_csv['person']

0    Steven
1      Adam
2     Karen
3     April
Name: person, dtype: object

In [42]:
df_csv['weight']

0    3.0
1    4.3
2    5.6
3    0.4
Name: weight, dtype: float64

In [44]:
sum_weight = df_csv['weight'].sum()
avg_weight = df_csv['weight'].mean()
print("The sum is {}. The weight is {}.".format(sum_weight, avg_weight))

The sum is 13.299999999999999. The weight is 3.3249999999999997.

In [46]:
sum_weight = df_csv['weight'].sum()
avg_weight = df_csv['weight'].mean()
print("The sum is {0:.1f}. The weight is {1:.1f}.".format(sum_weight, avg_weight))

The sum is 13.3. The weight is 3.3.

In [8]:
df = pd.read_csv(tsvfile, header=None, sep='\t')
df

        0         1    2
0  Steven    apples  3.0
1    Adam  cherries  4.3
2   Karen    apples  5.6
3   April    grapes  0.4